* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.header {
	font-size: 20px;
	text-align: center;
}

#array {
	/* background-color: white; */
	height: 350px;
	width: 500px;
	margin: auto;
	position: relative;
	margin-top: 64px;
}

.block {
	width: 28px;
	background-color: #6b5b95;
	position: absolute;
	bottom: 0px;
	transition: 0.2s all ease;
}

.block_id {
	position: absolute;
	color: black;
	margin-top: -20px;
	width: 100%;
	text-align: center;
}

canvas {
	width: 500px;
	height: 500px;
	/* background-color: #f8f8f4; */
	border: #415a77 solid 2px;
	/* box-shadow: 0px 0px 10px red; */
	box-shadow: 0px 0px 10px #2a415c;
	margin-top: 20px;
	padding: 5px;
}


#mainNavbar {
    background-color: #1B263B;
    color: antiquewhite;
}

#btn {
    background-color: #415a77;
    border: #415a77;
}

#btn:hover {
    background-color: #2a415c;
}

#aboutDiv {
	/* background-color: orange; */
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1568952433726-3896e3881c65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
	/* max-width: 100%;
	max-height: 100vh; */
	/* background: linear-gradient(
	  rgba(0, 0, 0, 0.7), 
	  rgba(0, 0, 0, 0.7)
	),
	url(https://images.unsplash.com/photo-1614030424754-24d0eebd46b2); */
}

#container {
	margin-top: 20px;
}


