<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
</head>
<body>
    <nav>
        <ul>
            <section class="left_item">
                <a href="./" id="test">
                    <li>
                        ABOUT US
                    </li>
                </a>
                <a href="./algorithm" id="test">
                    <li>
                        ALGORITHM
                    </li>
                </a>
                <% if(currentUser) { %>
                <a href="./profile" id="test">
                    <li>
                        PROFILE
                    </li>
                </a>
                <% } %>
            </section>
            <section class="right_item">
                <% if(!currentUser) { %>
                <a href="./login">
                    <li>
                        LOG IN
                    </li>
                </a>
                <a href="./signup">
                    <li>
                        SIGN UP
                    </li>
                </a>
                <% } %>
                <% if(currentUser) { %>
                <a href="./logout">
                    <li>
                        LOG OUT
                    </li>
                </a>
                <% } %>
            </section>
        </ul>
    </nav>
    <h1>Sign up</h1>
    <form action="/signup" method="POST">
        <div>
            <label for="username">Enter Username: </label>
            <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div>
            <label for="password">Enter Password: </label>
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <button>Sign up</button>
    </form>
</body>
</html>